@import "tailwindcss";

@theme {
  /* Nếu bạn muốn custom theme thì viết vào đây, ví dụ: */
  /* --color-primary: #3b82f6; */
}

/* Các style custom khác của bạn */
body {
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
